{% extends 'feed.html' %} {% load static %} {% block contentProfile %}

<!-- Profile -->
<div class="profile">
	
  <h2>Tus proyectos,  @{{ user.username }}</h2>
</div>

<!-- items  del Proyecto-->
<link href="{% static 'css/style.css'%}" rel="stylesheet" />
<div class="container">
	<table class="table">
		<thead>
		  <tr>
			<th scope="col"><h2>ID</h2></th></div>
			<th scope="col"><h2>URL</h2></th>
			<th scope="col"><h2>TÍTULO</h2></th>
			<th scope="col"><h2>DESCRIPCIÓN</h2></th>
		  </tr>
		</thead>
	  
		<tbody>
		  {% for p in project %}
		  <tr>
			<td><h3>{{p.id}}</h3></td>
			<td><h3>{{p.url_imagen}}</h3></td>
			<td><h3>{{ p.titulo}}</h3></td>
			<td><h3>{{ p.descripcion }}</h3></td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
</div>

{{ block.super }} {% endblock %}
